body{
    margin: 0;
}
.grid{
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px; */
    grid-template-columns: repeat(auto, 200px);
    /* grid-template-rows: 300px 300px 300px 300px; */
    grid-template-rows: 100px repeat(2, 200px) 100px;
    grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer"
}

.header{
    background-color: aqua;
    grid-area: header;
}

.content{
    background-color: rgb(0, 181, 70);
    grid-area: content;
}

.nav{
    background-color: rgb(225, 194, 16);
    grid-area: nav;
}

.footer{
    background-color: rgb(220, 0, 190);
    grid-area: footer;
}